/* style.css */


#iframe-container {
    all: unset;
    position: relative;
    transition: opacity 0.04s ease 0s;
    background: black;
    border: 0px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px 5px;
    clip: auto;
    display: block;
    /*height: auto;
    overflow: hidden;
    position: fixed;*/
    right: 12px;
    top: 12px;
    user-select: none;
    width: 380px;
    z-index: 2147483647;
    background-color: transparent;
  }
  
  #iframe-container-title {
    all: unset;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(234, 234, 234) 0px -1px inset;
    cursor: grab;
    display: inline-flex;
    height: 40px;
    left: 0px;
    padding: 0px 8px 0px 12px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  
  /* 20231103 Begin*/
  
  .table-container {
    max-height: 400px; /* 设置表格容器的最大高度，根据需要进行调整 */
    overflow-y: auto; /* 启用纵向滚动 */
  }
  

  /*
  .menuitem {
    user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: calc(100% - 8px); margin-left: 4px; margin-right: 4px; border-radius: 4px;
  }

  .menuitem:hover {
    user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: calc(100% - 8px); margin-left: 4px; margin-right: 4px; border-radius: 4px; background: rgba(55, 53, 47, 0.08);
  }
  */

  /* Page break visual display removed - only print functionality remains */